/* ============分类列表============== */

div.newsclass_dolphin{
padding:20px 0 0 35px;
margin:0px;
}

a.newsclass_dolphin:link,a.newsclass_dolphin:visited,a.newsclass_dolphin:active{
display:block;
text-decoration: none;
font:12px/14px Verdana, Arial, Helvetica, sans-serif;
height:25px;
text-align:left;
background:url("../images/dot2.png"/*tpa=http://demo.8555.net/4333_7628/news/templates/images/dot2.png*/) 0px 3px no-repeat;
padding-left:21px;
margin:0px;
color:#5c5c5c;
}

a.newsclass_dolphin:hover{
display:block;
color: #ff0000; 
text-decoration: none;
}
