#menumain_simple{
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
   color:#7e725e;
}

#menumain_simple .menumain_simple{
   float:left;
   width:95px;
   height:36px;
   line-height:36px;
   text-align:center;
   margin:0px;
   background:url(line.png) right 8px no-repeat;
}


#menumain_simple .menumain_simple a{
   color: #7e725e; 
   display:block;
   text-decoration: none;
   line-height:36px;
   font-size:14px;
}


#menumain_simple .menumain_simple a:hover {
   color: #fff; 
   text-decoration: none;
   line-height:36px;
   background:url(menunow.png) 0px 0px no-repeat;
} 

